streamlit
spacy
requests
beautifulsoup4
PyPDF2
python-docx
transformers
txtai
pandas
googletrans
deep-translator
matplotlib
rake-nltk
language_tool_python
sentence-transformers
PyPDF2
python-docx
nltk
textblob
FPDF
